<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{ifset title}{include title|stripHtml} | {/ifset}MiniCRM</title>
	<script src="https://unpkg.com/nette-forms@3"></script>
	<script src="https://unpkg.com/naja@2/dist/Naja.min.js"></script>
	<script type="text/javascript">
		naja.initialize();
	</script>
	
	{asset? 'main.js'}
	{asset 'minicrm/css/minicrm.css'}
	{asset 'minicrm/js/minicrm.js'}

	
</head>

<body>
	<div class="app">
		<header class="bar">

			<nav>
				<a n:href=":MiniCRM:Customers:index" class="brand">

					<span>Customers</span>
				</a>
			</nav>
		</header>

		<div n:snippet="flashes" class="snippet--flashes">
			<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
		</div>
		<main class="main">
			{include content}
		</main>
		<footer class="bar" style="justify-content: center; font-size: 0.8em; color: #888; padding: 1em 0;">
			<div class="copyright">
				&copy; {date('Y')} MiniCRM
			</div>
		</footer>
	</div>
</body>
</html>

