<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{ifset title}{include title|stripHtml} | {/ifset}MiniCRM</title>

	{asset? 'main.js'}

	<script src="https://unpkg.com/nette-forms@3"></script>
	{import layout.js.latte}
	{import layout.css.latte}
	{include pageScripts}
	{include pageStyle}
</head>

<body>
	<div class="app">
		<header class="bar">

			<nav>
				<a n:href=":MiniCRM:Customers:index" class="brand">

					<span>Customers</span>
				</a>
			</nav>
		</header>

		<div n:snippet="flashes" class="snippet--flashes">
			<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
		</div>
		<main class="main">
			{include content}
		</main>
	</div>
</body>
</html>

